<style type="text/css">
	
	.imgCover{
		background: url('img/baby-cloth-clothing-color-41165.jpeg') no-repeat center center;
		background-size: cover;
		height: 750px;
		width: 100%;
	}

	.cajaJumboTron{

		margin-top: 300px;
		text-align: center;
	}

	.tituloJumboTron{
		margin-bottom: 50px;
		font-weight: bold;
	}

	.section1{

		padding: 70px 8% 0px 8%;


	}

	.section1>div+div{
		padding: 5%;
	}

	.tituloSection1{

		text-align: center;
		font-weight: bolder;
		padding: 5px;


	}

	.parrafoSection1{
		text-align: justify;
	}

	.subTituloSection1{

		font-weight: bold;
		font-size: 1.5rem;
		padding-bottom: 10px;
	}

	.contenedorImgIcono{
		text-align: center;
		padding-bottom: 30px;
	}

	.contenedorImgIcono >img{
		
		width: 100px;
	}



</style>
<div class="imgCover">
	<div class="col-sm-6 col-sm-offset-3 cajaJumboTron" >
		<h1 class="tituloJumboTron">
			DIGITALIZA TUS VENTAS
		</h1>
		<h4>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. 
		</h4>
	</div>
</div>
<div class="col-sm-12 section1">
	<div class="tituloSection1">
		<h1>
			Aprovecha al máximo tus recursos 
		</h1>
	</div>	
	<div class="col-md-4">

		<div class="contenedorImgIcono">
			<img src="img/question.png">
		</div>
		<div class="subTituloSection1">
			Lorem ipsum dolor
		</div>
		<div class="parrafoSection1">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. 
		</div>

	</div>
	<div class="col-md-4">
		<div class="contenedorImgIcono">
			<img src="img/question.png">
		</div>
		<div class="subTituloSection1">
			Lorem ipsum dolor
		</div>
		<div class="parrafoSection1">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. 
		</div>
	</div>
	<div class="col-md-4">
		<div class="contenedorImgIcono">
			<img src="img/question.png">
		</div>
		<div class="subTituloSection1">
			Lorem ipsum dolor
		</div>
		<div class="parrafoSection1">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. 
		</div>
	</div>
</div>	
<div class="col-sm-12" section2>
	
</div>